:root{
    --primaryColor: #577D86;
    --backgroundColor: #B9EDDD;
    --myTitleFont:'Dancing Script', cursive;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --fontDefaultHeading: 'Montserrat', sans-serif; 
}

/* main css */

body{
    margin: 0px;
    color: var(--primaryColor);
    font-family: var(--primaryColor);
    line-height: 2;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted var(--backgroundColor) 5px;
    border-bottom: none;
    width: 5%;
}
h2 {
    
    margin: 0;
    font-size: 2.25em;  /* 1em = 16px */
    font-weight: 100;
    padding-bottom: 20px;
}
.top-section{
    background-color: var(--backgroundColor);
    
    /* height: 400px; */
    text-align: center;
    padding-top: 200px;
    
}
.bottom-section{
    background-color: var(--primaryColor);
    text-align: center;
    padding: 80px 0px;
    color: white;
}

.heading {
    font-family: var(--myTitleFont);
    font-size: 4rem;

    margin: 0;
}

.middle-section{
    margin: 100px auto 100px auto;
    text-align: center;
    width: 50%;
}


.top-cloud{
    position: absolute;
    margin-block-start: -80px;
    margin-left: 350px;
    width: 100px;
}
.bottom-cloud{
    position: absolute;
    margin-block-start: 50px;
    margin-left: -100px;
    width: 100px;
}
.mountain{
    width: 300px;
}
img{
    margin-bottom:-5px;
}
.profile-pic{
    border-radius: 100%;
    width: 150px;
    /* margin: auto;
    display: block; */
}
.intro{
    width: 50%;
    margin: auto;
    line-height: 2;
}

.skill-image{
    width: 150px;
}

.left{
    float: left;
    margin-right: 50px;
    
}

.right{
    float: right;
    margin-left: 50px;
    
}

.my-skills{
    margin:0px auto 100px auto;
}

.skills{
    margin: 100px auto 100px auto;
    text-align: left;
}

/* .contact{
    text-decoration: none;
    background-color: var(--primaryColor);
    background-image: linear-gradient(
        180deg, 
        var(--primaryColor),
        var(--backgroundColor)
    );
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 2.25rem;
    color: white;
}
.contact:hover{
    background-image: linear-gradient(
        180deg, 
        var(--backgroundColor),
        var(--primaryColor)
    );
} */

.contact {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .contact:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/